<!DOCTYPE html>
<html>
    <head>
    <title> My First App</title>
    </head>

    <body>
    <h1>Hello World</h1>
    <p>Welcome to my first frask website!</p>
    <p>this variable is from python: {{my_variable}}</p>
    <p>my favorite fruits are: {{my_list}}</p>
    <ul>
    
     {% for fruits in my_list%}
        <li>{{fruits}}</li>
     {% endfor %}
    </ul>
    {%if user == 'admin' %}
        <p>SUPER SECRET ADMIN CONTROLS</p>
        <button> Ban Mr.Forlenza</button>
    {% endif %}
    </body>

</html>