<!DOCTYPE html>
<html>

<div class="rpgui-content" style="overflow-y:scroll;">
    <div id="container">
	  <div id="main"></div>
      <div class="inner rpgui-container framed" style="position:relative">

      
    <head>
    <link rel="stylesheet" type="text/css" href="http://ronenness.github.io/RPGUI/rpgui/rpgui.min.css">
    <title> Your New Todo</title>
    
 <div class="rpgui-progress">
<div class="rpgui-content">
</div>
    </head>




</div>


  <style>
	body, #container
	{
		background: #222;
		padding-top:20px;
		padding-bottom:20px;
	}
	
	.inner
	{
		background: #444;
		padding-left:20px;
		padding-right:20px;
		min-width: 740px;
		max-width: 900px;
		margin: 0 auto;

        
	}
  </style>
	<div id="progress" class="rpgui-container framed-grey">
    
    <body>



    
    <h1>Todo List</h1>
    <p>Welcome to your Todo that can track your goals!</p>
    <p>Now that you can track your goals go ahead: {{my_variable}}</p>
    <p>my goals: {{my_list}}</p>
    <ul>
    
     {% for things in todo_list%}

        <li style="{% if things['Done'] == 1 %}; color: #5A5A5A;{%endif%}"; text decoration: line-through; color:black;  font-size:20px;">{{things['description']}}
            {%if things['Done'] == 0 %}
        <form action="/Done" method="post">
   
     <div id="buttons" class="rpgui-container framed-grey" class="rpgui-container framed-grey rpgui-center"> 
     <i class="rpgui-icon potion-red"></i>
        <input name="todo_list" value="{{things['ID']}}" hidden>
        <input type="submit" class="rpgui-button golden" style="width:30%" value="Done"> 
     </div>
          
           
        </form>
        {%endif%}

        {{things['Description']}}
         </li>
     {% endfor %}
    </ul>
    <form
        action="/add"
        method="post"
    
    >

        <textarea name="new_todo">
        </textarea>
        <input type="submit" style="border-radius:12px
        padding:25px;
        ;background-color:black
        ;color:#FFD700; 
        display:inline-block">
    
    
    
    </form>
</div>
    </body>

</html>